<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            body {
                background: #421884 url(https://i.imgur.com/9m7hilt.jpg) no-repeat center center fixed;
                color: #fff;
                font-family: 'Oswald', sans-serif;
                margin: 50px 0;
            }
            h1, hr {
                margin: 40px 0;
            }

            #app .alert,
            #app .card-text h5,
            #app table,
            #app textarea {
                font-size: 2rem;
            }

            #app textarea {
                overflow: auto;
                white-space: nowrap;
            }
            #app textarea,
            #app select,
            #app input {
                background: #dadada;
            }
            #app table,
            #app .card {
                opacity: 0.8;
            }
            #app .challenge-instructions {
                font-size: 1rem;
            }
        </style>
        <title>Viewer Bracket Generator</title>
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-3 offset-1">
                        <div class="form-group">
                            <textarea
                                class="form-control"
                                v-model="usernames"
                                rows="8"
                                spellcheck="false"
                            ></textarea>
                            <p class="form-text text-white">One Lichess username per line</p>
                        </div>

                        <div class="form-group">
                            <select class="form-control form-control-lg" v-model="gameType">
                                <option value="bullet">Bullet</option>
                                <option value="blitz">Blitz</option>
                                <option value="rapid">Rapid</option>
                                <option value="classical">Classical</option>
                            </select>
                            <!-- <small class="form-text text-white">It will pull their rating via the Lichess API</small> -->
                        </div>

<!--                         <h5>3) Challenge instructions</h5>
                        <div class="form-group">
                            <input class="form-control" v-model="challengeInstructions">
                        </div> -->

                        <button type="button" class="btn btn-lg btn-primary" @click="submit">Setup</button>
                    </div>
                    <div class="col col-7" v-if="playerRatings.length">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th class="px-5">Seed</th>
                                    <th>Username</th>
                                    <th class="px-5 text-right">Rating</th>
                                    <!-- <th class="text-right"># Games</th> -->
                                </tr>
                            </thead>
                            <tr v-for="(player, key) in playerRatingsSorted">
                                <td class="px-5">#{{ key + 1}}</td>
                                <td>{{ player.name }}</td>
                                <td class="px-5 text-right">{{ player.rating }}</td>
                                <!-- <td class="text-right">{{ player.games }}</td> -->
                            </tr>
                        </table>

                        <div class="alert alert-warning mt-3 text-center" v-if="playerRatings.length !== 8">
                            <p>Pairings will be generated when there are 8 players.</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row" v-if="pairings">
                    <div class="col col-10 offset-1 text-center">
                        <h1 class="text-center mb-5">First Round Pairings</h1>

                        <template v-for="pairing in pairings">
                            <div class="row">
                                <div class="col col-6 offset-3">
                                    <div class="card text-white bg-dark mb-3">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <h5>{{ pairing[0] }}</h5>
                                                <em>vs.</em>
                                                <h5>{{ pairing[1] }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- <textarea class="form-control challenge-instructions" onclick="this.select()" rows="3">@{{ playerRatingsSorted[pairing[0] - 1].name }} (White) vs. @{{ playerRatingsSorted[pairing[1] - 1].name }} (Black) --- Send a {{ challengeInstructions }} request to each other. --- https://lichess.org/@/{{ playerRatingsSorted[pairing[0] - 1].name }} https://lichess.org/@/{{ playerRatingsSorted[pairing[1] - 1].name }}</textarea>

                                    <a class="text-white" :href="'https://lichess.org/@/' + playerRatingsSorted[pairing[0] - 1].name + '/tv'">https://lichess.org/@/{{ playerRatingsSorted[pairing[0] - 1].name}}/tv</a>
                                    <br>
                                    <a class="text-white" :href="'https://lichess.org/@/' + playerRatingsSorted[pairing[1] - 1].name + '/tv'">https://lichess.org/@/{{ playerRatingsSorted[pairing[1] - 1].name}}/tv</a> -->
                            </div>
                        </template>

                        <hr>

                        <a class="btn btn-lg btn-light" target="_blank" :href="linkToBracket">Generate Bracket &rarr;</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <script src="app.js?2"></script>
    </body>
</html>
