<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            body {
                background: #421884 url(https://i.imgur.com/9m7hilt.jpg) no-repeat center center fixed;
                color: #fff;
                font-family: 'Oswald', sans-serif;
                margin: 50px 0;
            }
            h1, hr {
                margin: 40px 0;
            }

            #app textarea {
                font-size: 3.5rem;
            }
            #app textarea,
            #app select,
            #app input,
            #app table {
                background: #dadada;
            }
            #app table {
                opacity: 0.8;
            }
            #app table,
            #app .card-text h5 {
                font-size: 3.5rem;
            }
            #app .alert {
                font-size: 3rem;
            }
            #app .challenge-instructions {
                font-size: 1rem;
            }
        </style>
        <title>Viewer Bracket Generator</title>
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-3 offset-1">
                        <h5>1) Lichess usernames of players</h5>
                        <div class="form-group">
                            <textarea class="form-control" v-model="usernames" rows="8"></textarea>
                            <small class="form-text text-muted">One Lichess username per line</small>
                        </div>

                        <h5>2) Which rating to use</h5>
                        <div class="form-group">
                            <select class="form-control" v-model="gameType">
                                <option value="bullet">Bullet</option>
                                <option value="blitz">Blitz</option>
                                <option value="rapid">Rapid</option>
                                <option value="classical">Classical</option>
                            </select>
                            <small class="form-text text-muted">It will pull their rating via the Lichess API</small>
                        </div>

                        <h5>3) Challenge instructions</h5>
                        <div class="form-group">
                            <input class="form-control" v-model="challengeInstructions">
                        </div>

                        <button type="button" class="btn btn-lg btn-primary" @click="submit">Generate</button>
                    </div>
                    <div class="col col-7" v-if="playerRatings.length">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="px-5">Seed</th>
                                    <th>Username</th>
                                    <th class="px-5 text-right">Rating</th>
                                    <!-- <th class="text-right"># Games</th> -->
                                </tr>
                            </thead>
                            <tr v-for="(player, key) in playerRatingsSorted">
                                <td class="px-5">#{{ key + 1}}</td>
                                <td>{{ player.name }}</td>
                                <td class="px-5 text-right">{{ player.rating }}</td>
                                <!-- <td class="text-right">{{ player.games }}</td> -->
                            </tr>
                        </table>

                        <div class="alert alert-warning mt-3 text-center" v-if="playerRatings.length !== 8">
                            <p>Pairings will be generated when there are 8 players.</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row" v-if="playerRatings.length === 8">
                    <div class="col col-10 offset-1 text-center">
                        <h1 class="text-center mb-5">First Round Pairings</h1>

                        <template v-if="playerRatings.length === 8" v-for="(pairing, key) in pairing_config">
                            <div class="row">
                                <div class="col">
                                    <div class="card text-white bg-dark mb-3">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <template v-for="(seed, key) in pairing">
                                                    <h5>
                                                        #{{ seed }}
                                                        &ndash;
                                                        {{ playerRatingsSorted[seed - 1].name }}
                                                        <!-- ({{ playerRatingsSorted[seed - 1].rating }}) -->
                                                    </h5>

                                                    <span v-if="key === 0">
                                                        <em>vs.</em>
                                                    </span>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <textarea class="form-control challenge-instructions" onclick="this.select()" rows="3">@{{ playerRatingsSorted[pairing[0] - 1].name }} (White) vs. @{{ playerRatingsSorted[pairing[1] - 1].name }} (Black) --- Send a {{ challengeInstructions }} request to each other. --- https://lichess.org/@/{{ playerRatingsSorted[pairing[0] - 1].name }} https://lichess.org/@/{{ playerRatingsSorted[pairing[1] - 1].name }}</textarea>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
